.node_view ul {
  list-style-type: none;
}
.node_view a {
  text-decoration: none;
  font-weight: bold;
}
.node_view ul.pre_links li {
  float: left;
}
.node_view ul.pre_links li:first-child {
  /** move the text to the right **/
  padding-left: 20px;
  /** the image will be vertically aligned in the center **/
  background: url(../icons/print_icon.png) left center no-repeat;
}
.node_view ul.pre_links li:nth-child(2) {
  margin-left: 7px;
  /** move the text to the right **/
  padding-left: 20px;
  /** the image will be vertically aligned in the center **/
  background: url(../icons/pdf_icon.png) left center no-repeat;
}
